   .a_para{
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #fff;
  }
  .a_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  #about{
    background: linear-gradient(to right, rgb(37, 35, 35), rgb(150, 8, 8), rgb(255, 217, 0));    
    width: 100vw;
    height: 100vh;
  }
  .a_head{
    font-size: xx-large;
  }

  .feedback-button {
    background: linear-gradient(to right, #ed6e4f, #e39e6a); 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .feedback-button:hover {
    transform: scale(1.1);
  }
  