.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom right, #e7b14e, #bc8724);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #fff;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #fff;
  }
  
  