.f_recipe{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: white;
}
.fd_recipe{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
    height: 66vh;
    width: 48vw;
    align-items: center;
}
.fill_f{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 35vh;
}

.hf_recipe{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4vh;
}
.n_recipe{
font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.y_recipe{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.i_recipe{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}