.feedback-box {
    background: linear-gradient(to right, #800000, #B22222); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: scaleIn 0.5s ease; 
    height: 94.2vh;
  }
  
  .feedback-head {
    font-family: 'Arial', sans-serif; 
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .feedback-text {
    font-family: 'Helvetica', sans-serif; 
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;

  }
  
  .feedback-label {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .feedback-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    /* background-color: #4e6ef2; */
    height: 80%;
  }
  
  .submit-feedback {
    background: #fff;
    color: #800000; 
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit-feedback:hover {
    background: #B22222; 
    color: #fff;
    animation: swing 0.5s ease; 
  }
  
  
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes swing {
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .f_btns{
    display: flex;
    justify-content: space-between;
    width: 50vw;
  }
  