
.box {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
}
.footer1{
  height: 30px;
  background-color: #690b0b;
  text-align: center;
  margin-top: 0;
}
