.navbar{
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0%;
  background-color: rgb(220, 175, 12);
}
.logo_h{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  margin-left: 10vw;
  font-size: 30px;

}
.img_h{
  width: 5vw;
}
.menu-inner{
  display: flex;
  align-items: center;
  width: 19vw;
  justify-content: space-between;
}
.overall-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-search{
  width: 2vw;
}
.input-search,.exit {
  width: 0;
  display: none;
}
.width25{
  width: 25vw;
}
.width100{
  width: 100vw;
}


.btn-search {
  cursor: pointer;
}
.btn-search.hidden,.overall-nav.hidden,.logo_web.hidden,.menu.hidden{
  display: none;
}
.btn-search.active ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 3000ms cubic-bezier(0, 0.110, 0.35, 2);
} 
.input-search.active{
  display: block;
  width: 93vw;
  height: 4.8vh;
  border-radius: 12px;
  background-color: transparent;
  border: 3px solid #000 ;
  transition: all 3000ms cubic-bezier(0, 0.110, 0.35, 2);
}
.exit.active{
  margin-right: 15px;
  display: block;
  width: 1vw;
  border-radius: 50%;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  list-style: none;
}
.link{
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #000;
}
.menu-item{
  font-size: x-large;
  color: #000;
}